/* Footer Styles */

  .back-btn {
    padding: 8px 16px;
    border: none;
    background-color: #fff; /* Adjust to your button colors */
    color: orangered; /* Adjust to your button text color */
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .made-with {
    font-size: 20px;
  }
  
  .main-footer {
    width: 100%;
    padding: 20px 0;
    background-color: lightblue;
    color: #fff; 
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }